<ng-container *ngIf="this.wait; else insert">
  <div class="app-splash-screen">

    <div class="app-splash-content">
      <div data-text="Loading ..." class="loading-text">Upladoing ...
      </div>
    </div>
  </div>
</ng-container>
<ng-template #insert>
  <body class="bg-dark">
  <div class="container">
    <div class="row p-1">
      <input class="form-control" type="file"
             (change)="onChange($event)">
    </div>
  </div>

  <button (click)="fireClear()" class="btn btn-primary">
    Clear
  </button>
  <button (click)="fireUpload()" class="btn btn-primary">
    Debug
  </button>
  </body>
</ng-template>

