<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>ForgotPassword.bsdesign</title>
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
  <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
<app-navbar-without-login></app-navbar-without-login>
<div class="container">
  <div class="row" id="pwResetRow">
    <div class="col-md-10 col-lg-8 col-xl-6 offset-md-1 offset-lg-2 offset-xl-3">
      <form>
        <div class="card shadow">
          <div class="card-body">
            <a
              class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
              <div class="sidebar-brand-icon rotate-n-15"><i class="fab fa-hackerrank" style="font-size: 40px;"></i></div>
              <div class="sidebar-brand-text mx-3"><span>Hackerrank Indexer<br></span></div>
            </a>
            <h5 class="text-center text-dark mb-0">Forgot Password</h5>
            <div class="row text-center" style="margin-top: 15px;">
              <div class="col">
                <input id="email" [formControl]="emailForm" type="text" placeholder="Email"></div>
            </div>
            <div class="row text-center" style="margin-top: 15px;">
              <div class="col">
                <input type="submit" (click)="this.triggerPasswordReset()" [disabled]="emailForm.invalid"
                        class="btn btn-primary" type="button" value="Reset password">
              </div>
            </div>
            <div class="row text-center" style="margin-top: 15px;">
              <div class="col">
                <a onclick="history.back()" class="link-secondary forgot" style="margin-bottom: 5px; cursor: pointer">Go Back</a></div>
            </div>
          </div>
        </div>
      </form>
    </div>
  </div>
</div>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
