<div class="card shadow mb-4">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h4 style="margin-bottom: 4px;margin-top: 4px;">Language use distribution</h4>
  </div>
  <div class="card-body">
    <ng-container *ngIf="this.loaded">
      <div class="chart-area">
        <div style="display: block;">
          <canvas baseChart
                  [data]="doughnutChartData"
                  [labels]="doughnutChartLabels"
                  [chartType]="doughnutChartType">
          </canvas>
        </div>
      </div>
    </ng-container>
  </div>
</div>
