<head>
  <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
  <link rel="stylesheet" href="/assets/fonts/ionicons.min.css">
  <link rel="stylesheet" type="text/css" href="/assets/css/Footer-Basic.css">
</head>

<footer class="footer-basic" style="background: #59606a;">
  <div class="social" style="color: #32c766;"><a href="https://www.linkedin.com/in/ali-yalama-042a99186/"><i class="icon ion-social-linkedin-outline"></i></a><a href="https://github.com/AlKYala"><i class="icon ion-social-github"></i></a><a href="https://www.hackerrank.com/Ali_Yalama"><i class="fab fa-hackerrank"></i></a></div>
  <ul class="list-inline" style="color: #32c766;">
    <li class="list-inline-item"><a href="#">Home</a></li>
    <li class="list-inline-item"><a href="#">Services</a></li>
    <li class="list-inline-item"><a href="#">About</a></li>
    <li class="list-inline-item"><a href="#">Terms</a></li>
    <li class="list-inline-item"><a href="#">Privacy Policy</a></li>
  </ul>
  <p class="copyright">Alkyala © 2022</p>
</footer>
