<!--<div class="card shadow mb-4" style="margin-top: 4px;margin-bottom: 4px;background: rgb(255,255,255);">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h4 style="margin-bottom: 4px;margin-top: 4px;">Pass rate per language</h4>
  </div>
  <ng-container *ngFor="let language of this.pLanguages">
    <div class="card-body border rounded border-light shadow-sm"
         style="padding: 8px;background: #ffffff;margin-bottom: 4px;">
      <h4 class="small fw-bold">{{language.language}}<span class="float-end">{{this.pLanguagePassPercentageMap.get(language.id!)}}%</span></h4>
      <div class="progress mb-4">
        <div [attr.id]="language.language.concat('percentageId')"
             class="progress-bar bg-danger" aria-valuenow="20" aria-valuemin="0" aria-valuemax="100"
             style="width: 20%;"><span class="visually-hidden">20%</span></div>
      </div>
    </div>
  </ng-container>
</div>-->

<div class="card shadow mb-4" style="margin-top: 4px;margin-bottom: 4px;background: rgb(255,255,255);">
  <div class="card-header d-flex justify-content-between align-items-center">
    <h4 style="margin-bottom: 4px;margin-top: 4px;">Pass rate per language</h4>
  </div>
  <div class="card-body border rounded border-light shadow-sm" style="padding: 8px;background: #ffffff;">
    <ng-container *ngFor="let language of this.pLanguages">
      <div class="row g-0 align-items-center" style="margin-bottom: 4px;">
        <div class="col-3">
          <div class="text-dark fw-bold h5 mb-0 me-3"><span style="font-size: 15px;">{{language.language!}}</span></div>
        </div>
        <div class="col-9">
          <div class="progress progress-sm">
            <div [attr.id]="language.language.concat('percentageId')"
                 class="progress-bar bg-info" aria-valuenow="50" aria-valuemin="0" aria-valuemax="100">
              {{this.pLanguagePassPercentageMap.get(language.id!)}}%
            </div>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>

