.progress {
  display: flex;
  height: 1rem;
  overflow: hidden;
  font-size: .75rem;
  background-color: #e9ecef;
  border-radius: .25rem;
}

.col-auto {
  flex: 0 0 auto;
  width: 75px;
}
.align-items-center {
  align-items: center!important;
}



