<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Dashboard - Brand</title>
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i">
  <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
  <link rel="stylesheet" href="/assets/fonts/ionicons.min.css">
  <link rel="stylesheet" href="/assets/css/Footer-Basic.css">
</head>

<body id="page-top">
<section class="features-boxed" style="background: url(&quot;assets/img/pexels-ingnio-studio-665214.jpg&quot;), #010448;padding-top: 20px;padding-bottom: 20px;height: 100vh;background-size: cover, auto;">
  <div class="container text-center hero" style="margin-top: 0px;height: 100%;">
    <div class="row d-md-flex justify-content-md-center" style="height: 100%;">
      <div class="col-12 col-sm-12 col-md-12 col-lg-12 col-xl-12 col-xxl-12 offset-sm-0 offset-xl-0 offset-xxl-0 align-items-center align-self-center">
        <div class="row">
          <div class="col">
            <h1 class="display-1 d-inline-flex typing-demo" style="color: var(--bs-gray-100);font-family: 'IBM Plex Mono', monospace;"><strong>Hackerrank Indexer</strong></h1>
          </div>
        </div>
        <div class="row">
          <div class="col offset-xxl-0">
            <h2 style="color: rgb(255,255,255);">Build a portfolio with your Hackerrank profile</h2>
          </div>
        </div>
        <div class="row">
          <div class="col"><button class="btn btn-outline-primary btn-lg action-button" type="button" style="color: #ffffff;border-width: 1px;border-color: #ffffff;margin-right: 10px;">Learn More</button><button class="btn btn-outline-primary btn-lg action-button" type="button" style="color: #ffffff;border-width: 1px;border-color: #ffffff;margin-right: 10px;">Already have an account? Log In</button></div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="features-boxed" style="min-height: 100vh;background: var(--bs-gray-200);padding-top: 20px;padding-bottom: 20px;color: rgb(0,0,0);">
  <div class="container">
    <div class="intro">
      <h2 class="display-3 text-center" style="color: rgb(49, 52, 55);">Features </h2>
      <p class="text-center invisible">blablabla</p>
    </div>
    <div class="row justify-content-start features" style="padding-top: 0px;padding-bottom: 0px;">
      <div class="col-md-6 col-xxl-6 offset-xxl-0" style="margin-bottom: 10px;min-height: 25vh;">
        <div class="card d-md-flex" style="margin-bottom: 10px;height: 100%;">
          <div class="card-body d-md-flex align-items-md-center">
            <div class="row">
              <div class="col-sm-4 col-lg-2 col-xxl-2"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" class="icon" style="width: 100%;height: 100%;">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M22.775 8C22.9242 8.65461 23 9.32542 23 10H14V1C14.6746 1 15.3454 1.07584 16 1.22504C16.4923 1.33724 16.9754 1.49094 17.4442 1.68508C18.5361 2.13738 19.5282 2.80031 20.364 3.63604C21.1997 4.47177 21.8626 5.46392 22.3149 6.55585C22.5091 7.02455 22.6628 7.5077 22.775 8ZM20.7082 8C20.6397 7.77018 20.5593 7.54361 20.4672 7.32122C20.1154 6.47194 19.5998 5.70026 18.9497 5.05025C18.2997 4.40024 17.5281 3.88463 16.6788 3.53284C16.4564 3.44073 16.2298 3.36031 16 3.2918V8H20.7082Z" fill="currentColor"></path>
                <path fill-rule="evenodd" clip-rule="evenodd" d="M1 14C1 9.02944 5.02944 5 10 5C10.6746 5 11.3454 5.07584 12 5.22504V12H18.775C18.9242 12.6546 19 13.3254 19 14C19 18.9706 14.9706 23 10 23C5.02944 23 1 18.9706 1 14ZM16.8035 14H10V7.19648C6.24252 7.19648 3.19648 10.2425 3.19648 14C3.19648 17.7575 6.24252 20.8035 10 20.8035C13.7575 20.8035 16.8035 17.7575 16.8035 14Z" fill="currentColor"></path>
              </svg></div>
              <div class="col">
                <h4 class="display-6">Analyze your statistics</h4>
                <p>Hackerrank indexer gives you insight on your favourite languages, your success rates, your best and worst challenges and contests</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xxl-6 offset-xxl-0" style="margin-bottom: 10px;min-height: 25vh;">
        <div class="card" style="height: 100%;">
          <div class="card-body d-md-flex align-items-md-center">
            <div class="row">
              <div class="col-sm-4 col-lg-2 col-xxl-2"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" class="icon" style="width: 100%;height: 100%;">
                <path d="M11 5C11 4.44772 11.4477 4 12 4C12.5523 4 13 4.44772 13 5V12.1578L16.2428 8.91501L17.657 10.3292L12.0001 15.9861L6.34326 10.3292L7.75748 8.91501L11 12.1575V5Z" fill="currentColor"></path>
                <path d="M4 14H6V18H18V14H20V18C20 19.1046 19.1046 20 18 20H6C4.89543 20 4 19.1046 4 18V14Z" fill="currentColor"></path>
              </svg></div>
              <div class="col">
                <h4 class="display-6">Portfolio Building</h4>
                <p>With Hackerrank indexer you can download your best submissions and put them on your profile.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-start features" style="padding-top: 0px;padding-bottom: 0px;margin-bottom: 10px;">
      <div class="col-md-6 col-xxl-6 offset-xxl-0" style="margin-bottom: 10px;min-height: 25vh;">
        <div class="card d-md-flex align-items-md-center" style="height: 100%;">
          <div class="card-body d-md-flex align-items-xxl-center">
            <div class="row">
              <div class="col-sm-4 col-lg-2 col-xxl-2"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" class="icon" style="width: 100%;height: 100%;">
                <path d="M14.8284 12L16.2426 13.4142L19.071 10.5858C20.6331 9.02365 20.6331 6.49099 19.071 4.9289C17.509 3.3668 14.9763 3.3668 13.4142 4.9289L10.5858 7.75732L12 9.17154L14.8284 6.34311C15.6095 5.56206 16.8758 5.56206 17.6568 6.34311C18.4379 7.12416 18.4379 8.39049 17.6568 9.17154L14.8284 12Z" fill="currentColor"></path>
                <path d="M12 14.8285L13.4142 16.2427L10.5858 19.0711C9.02372 20.6332 6.49106 20.6332 4.92896 19.0711C3.36686 17.509 3.36686 14.9764 4.92896 13.4143L7.75739 10.5858L9.1716 12L6.34317 14.8285C5.56212 15.6095 5.56212 16.8758 6.34317 17.6569C7.12422 18.4379 8.39055 18.4379 9.1716 17.6569L12 14.8285Z" fill="currentColor"></path>
                <path d="M14.8285 10.5857C15.219 10.1952 15.219 9.56199 14.8285 9.17147C14.4379 8.78094 13.8048 8.78094 13.4142 9.17147L9.1716 13.4141C8.78107 13.8046 8.78107 14.4378 9.1716 14.8283C9.56212 15.2188 10.1953 15.2188 10.5858 14.8283L14.8285 10.5857Z" fill="currentColor"></path>
              </svg></div>
              <div class="col">
                <h4 class="display-6">Permalink to your profile</h4>
                <p>Permalink your statistics and put it in your CV. Let your employers know what you do on Hackerrank.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-6 col-xxl-6 offset-xxl-0" style="margin-bottom: 10px;min-height: 25vh;">
        <div class="card" style="height: 100%;">
          <div class="card-body d-md-flex align-items-md-center">
            <div class="row d-md-flex">
              <div class="col-sm-4 col-lg-2 col-xxl-2"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" class="icon" style="width: 100%;height: 100%;">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M21.2635 2.29289C20.873 1.90237 20.2398 1.90237 19.8493 2.29289L18.9769 3.16525C17.8618 2.63254 16.4857 2.82801 15.5621 3.75165L4.95549 14.3582L10.6123 20.0151L21.2189 9.4085C22.1426 8.48486 22.338 7.1088 21.8053 5.99367L22.6777 5.12132C23.0682 4.7308 23.0682 4.09763 22.6777 3.70711L21.2635 2.29289ZM16.9955 10.8035L10.6123 17.1867L7.78392 14.3582L14.1671 7.9751L16.9955 10.8035ZM18.8138 8.98525L19.8047 7.99429C20.1953 7.60376 20.1953 6.9706 19.8047 6.58007L18.3905 5.16586C18 4.77534 17.3668 4.77534 16.9763 5.16586L15.9853 6.15683L18.8138 8.98525Z" fill="currentColor"></path>
                <path d="M2 22.9502L4.12171 15.1717L9.77817 20.8289L2 22.9502Z" fill="currentColor"></path>
              </svg></div>
              <div class="col">
                <h4 class="display-6">Data Manipulation</h4>
                <p>Manipulate your user data and upload it on hackerrank.</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<section class="features-boxed" style="background: var(--bs-gray-400);padding-bottom: 20px;padding-top: 20px;">
  <div class="container">
    <div class="intro">
      <h2 class="text-center" style="color: rgb(49, 52, 55);border-color: #e2ffec;">Statistics</h2>
      <p class="text-center invisible">blablabla</p>
    </div>
    <div class="row justify-content-start features" style="padding-top: 0px;padding-bottom: 0px;margin-bottom: 10px;">
      <div class="col-md-10 col-xxl-9 offset-xxl-2">
        <div class="card" style="background: rgba(255,255,255,0);border-style: none;">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-4 col-lg-2 col-xxl-2"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" class="icon" style="width: 100%;height: 100%;color: rgb(49, 52, 55);">
                <path fill-rule="evenodd" clip-rule="evenodd" d="M16 7C16 9.20914 14.2091 11 12 11C9.79086 11 8 9.20914 8 7C8 4.79086 9.79086 3 12 3C14.2091 3 16 4.79086 16 7ZM14 7C14 8.10457 13.1046 9 12 9C10.8954 9 10 8.10457 10 7C10 5.89543 10.8954 5 12 5C13.1046 5 14 5.89543 14 7Z" fill="currentColor"></path>
                <path d="M16 15C16 14.4477 15.5523 14 15 14H9C8.44772 14 8 14.4477 8 15V21H6V15C6 13.3431 7.34315 12 9 12H15C16.6569 12 18 13.3431 18 15V21H16V15Z" fill="currentColor"></path>
              </svg></div>
              <div class="col">
                <h4 style="color: rgb(49, 52, 55);">%NUMBER%</h4>
                <p style="color: rgb(49, 52, 55);">Users signed up</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-start features" style="padding-top: 0px;padding-bottom: 0px;margin-bottom: 10px;">
      <div class="col-md-10 col-xxl-9 offset-xxl-2">
        <div class="card" style="background: rgba(255,255,255,0);border-style: none;">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-4 col-lg-2 col-xxl-2"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" class="icon" style="width: 100%;height: 100%;color: rgb(49, 52, 55);">
                <path d="M14.8284 12L16.2426 13.4142L19.071 10.5858C20.6331 9.02365 20.6331 6.49099 19.071 4.9289C17.509 3.3668 14.9763 3.3668 13.4142 4.9289L10.5858 7.75732L12 9.17154L14.8284 6.34311C15.6095 5.56206 16.8758 5.56206 17.6568 6.34311C18.4379 7.12416 18.4379 8.39049 17.6568 9.17154L14.8284 12Z" fill="currentColor"></path>
                <path d="M12 14.8285L13.4142 16.2427L10.5858 19.0711C9.02372 20.6332 6.49106 20.6332 4.92896 19.0711C3.36686 17.509 3.36686 14.9764 4.92896 13.4143L7.75739 10.5858L9.1716 12L6.34317 14.8285C5.56212 15.6095 5.56212 16.8758 6.34317 17.6569C7.12422 18.4379 8.39055 18.4379 9.1716 17.6569L12 14.8285Z" fill="currentColor"></path>
                <path d="M14.8285 10.5857C15.219 10.1952 15.219 9.56199 14.8285 9.17147C14.4379 8.78094 13.8048 8.78094 13.4142 9.17147L9.1716 13.4141C8.78107 13.8046 8.78107 14.4378 9.1716 14.8283C9.56212 15.2188 10.1953 15.2188 10.5858 14.8283L14.8285 10.5857Z" fill="currentColor"></path>
              </svg></div>
              <div class="col">
                <h4 style="color: rgb(49, 52, 55);">%NUMBER%</h4>
                <p style="color: rgb(49, 52, 55);">Permalinks active</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="row justify-content-start features" style="padding-top: 0px;padding-bottom: 0px;margin-bottom: 10px;">
      <div class="col-md-10 col-xxl-9 offset-xxl-2">
        <div class="card" style="background: rgba(255,255,255,0);border-style: none;">
          <div class="card-body">
            <div class="row">
              <div class="col-sm-4 col-lg-2 col-xxl-2"><svg xmlns="http://www.w3.org/2000/svg" width="1em" height="1em" viewBox="0 0 24 24" fill="none" class="icon" style="width: 100%;height: 100%;color: rgb(49, 52, 55);">
                <path d="M9.95263 16.9123L8.59323 18.3608L2.03082 12.2016L8.18994 5.63922L9.64826 7.00791L4.85783 12.112L9.95212 16.8932L9.95263 16.9123Z" fill="currentColor"></path>
                <path d="M14.0474 16.9123L15.4068 18.3608L21.9692 12.2016L15.8101 5.63922L14.3517 7.00791L19.1422 12.112L14.0479 16.8932L14.0474 16.9123Z" fill="currentColor"></path>
              </svg></div>
              <div class="col">
                <h4 style="color: rgb(49, 52, 55);">%NUMBER%</h4>
                <p style="color: rgb(49, 52, 55);">Submissions uploaded</p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <section class="newsletter-subscribe" style="background: rgba(255,255,255,0);">
      <div class="container">
        <div class="intro">
          <h2 class="text-center">Interested?</h2>
          <p class="text-center">Join here for free</p>
        </div>
        <form class="d-flex justify-content-center flex-wrap">
          <div class="mb-3"></div>
          <div class="mb-3"></div><button class="btn btn-dark" type="button" style="border-width: 1px;border-style: solid;">JOIN</button>
        </form>
      </div>
    </section>
  </div>
</section>
<app-footer></app-footer>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
