<!DOCTYPE html>
<html lang="en">

<body>
<app-navbar></app-navbar>
<section class="highlight-clean">
  <div class="container">
    <app-login></app-login>
    <div class="intro">
      <h2 class="text-center">Hackerrank Indexer</h2>
      <p class="text-center">Advanced analysis of your hackerrank submissions.<br>No sign up needed, 100% free to use</p>
    </div>
    <div class="buttons"><a class="btn btn-primary" role="button" href="#analytics">Take me there</a>
      <a class="btn btn-light" type="button" href="#howto">How To</a></div>
  </div>
</section>
<app-intro-features-component></app-intro-features-component>
<div id="howto">
  <app-howtocomponent></app-howtocomponent>
</div>
<div id="analytics">
  <app-analytics></app-analytics>
</div>

</body>

</html>

<!--<!DOCTYPE html>
<html>

<body id="page-top" style="background: #ffffff;">
<div id="wrapper">
  <nav class="navbar navbar-dark align-items-start sidebar sidebar-dark accordion bg-gradient-primary p-0" style="background: #32c766;border-color: rgb(133, 135, 150);">
    <div class="container-fluid d-flex flex-column p-0"><a class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
      <div class="sidebar-brand-icon rotate-n-15"><i class="fab fa-hackerrank" style="color: #59606a;"></i></div>
      <div class="sidebar-brand-text mx-3"><span style="color: #59606a;">Hackerrank<br>Indexer<br></span></div>
    </a>
      <hr class="sidebar-divider my-0">
      <ul class="navbar-nav text-light" id="accordionSidebar">
        <li class="nav-item"><a class="nav-link active" href="index.html" style="color: #59606a;"><i class="fas fa-tachometer-alt" style="color: #59606a;"></i><span>Analytics</span></a></li>
        <li class="nav-item"><a class="nav-link" href="profile.html" style="color: #59606a;"><i class="fas fa-user" style="color: #59606a;"></i><span>Profile Settings</span></a></li>
        <li class="nav-item"><a class="nav-link" href="table.html"><i class="fas fa-table" style="color: #59606a;"></i><span style="color: #59606a;">Download Section</span></a></li>
        <li class="nav-item"><a class="nav-link" href="login.html"><i class="far fa-user-circle" style="color: #59606a;"></i><span style="color: #59606a;">Logout</span></a></li>
        <li class="nav-item"></li>
      </ul>
      <div class="text-center d-none d-md-inline"><button class="btn rounded-circle border-0" id="sidebarToggle" type="button"></button></div>
    </div>
  </nav>
  <div class="d-flex flex-column" id="content-wrapper">
    <div id="content" style="background: #ffffff;">


    </div>
    <footer class="bg-white sticky-footer" style="background: rgba(255,255,255,0);">
      <div class="container my-auto">
        <div class="text-center my-auto copyright"><span>Copyright © Brand 2021</span></div>
      </div>
    </footer>
  </div><a class="border rounded d-inline scroll-to-top" href="#page-top"><i class="fas fa-angle-up"></i></a>
</div>
<script src="../../assets/bootstrap/js/bootstrap.min.js"></script>
<script src="../../assets/js/theme.js"></script>
</body>

</html>-->
