<!DOCTYPE html>
<html lang="en">

<body>
<section class="highlight-clean">
  <div class="container">
    <div class="intro">
      <h2 class="text-center">Hackerrank Indexer</h2>
      <p class="text-center">Advanced analysis of your hackerrank submissions.<br>No sign up needed, 100% free to use</p>
    </div>
    <div class="buttons"><a class="btn btn-primary" role="button" href="#analytics">Take me there</a>
      <a class="btn btn-light" type="button" href="#howto">How To</a></div>
  </div>
</section>
<app-intro-features-component></app-intro-features-component>
<div id="howto">
  <app-howtocomponent></app-howtocomponent>
</div>
<div id="analytics">
  <app-analytics></app-analytics>
</div>

</body>

</html>
