<nav class="navbar navbar-dark navbar-expand-md" style="background: #59606a;">
  <div class="container-fluid"><a class="navbar-brand" href="#"><i class="fab fa-hackerrank" style="color: #32c766;"></i>&nbsp;Hackerrank Indexer</a><button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="navbar-nav">
        <li class="nav-item"><a class="nav-link" href="#">Analytics</a></li>
        <li class="nav-item"><a class="nav-link" href="#">Download Section</a></li>
        <li class="nav-item"></li>
      </ul>
      <form class="ms-auto">
        <div class="dropdown show d-xl-flex">
          <a  (click)="toggleDropdown()" style="cursor: pointer"
            class="dropdown-toggle" aria-expanded="true" data-bs-toggle="dropdown" id="userDropdown">{{this.username}}</a>
          <div class="dropdown-menu" [ngClass]="{'show': toggle}" style="background: #59606a;">
            <a (click)="logOut()" class="dropdown-item" href="/" style="color: rgb(255,255,255);">
              <i class="la la-hand-peace-o"></i>&nbsp;Log Out
            </a>
            <a class="dropdown-item" href="#" style="color: rgb(255,255,255);">
              <i class="fa fa-gear"></i>&nbsp;Settings
            </a>
          </div>
        </div>
      </form>
      <ul class="navbar-nav">
        <li class="nav-item"></li>
        <li class="nav-item"></li>
        <li class="nav-item"></li>
        <li class="nav-item"></li>
      </ul>
    </div>
  </div>
</nav>
