<nav class="navbar navbar-light navbar-expand-md navigation-clean">
  <div class="container"><a (click)="this.route($event, '/home')" class="navbar-brand" href="#">Hackerrank Indexer</a>
    <button data-bs-toggle="collapse" class="navbar-toggler" data-bs-target="#navcol-1"><span class="visually-hidden">Toggle navigation</span><span
      class="navbar-toggler-icon"></span></button>
    <div class="collapse navbar-collapse" id="navcol-1">
      <ul class="navbar-nav ms-auto">
        <li class="nav-item"><a (click)="this.route($event, '/upload')" class="nav-link" href="#">Upload</a></li>
        <li class="nav-item"><a (click)="this.route($event, '/submissions')" class="nav-link" href="#">Submissions</a>
        </li>
        <li class="nav-item"><a (click)="this.route($event, '/analytics')" class="nav-link" href="#">Analytics</a></li>
        <li class="nav-item dropdown"><a class="dropdown-toggle nav-link" aria-expanded="false"
                                         data-bs-toggle="dropdown" href="#">More&nbsp;</a>
          <div class="dropdown-menu"><a class="dropdown-item" href="#">First Item</a><a class="dropdown-item" href="#">Second
            Item</a><a class="dropdown-item" href="#">Third Item</a></div>
        </li>
      </ul>
    </div>
  </div>
</nav>
