<body>
<nav class="navbar navbar-dark navbar-expand-md" style="background: #59606a;">
  <div class="container-fluid"><a class="navbar-brand font-monospace d-xxl-flex align-items-xxl-center" href="#"><i class="fab fa-hackerrank fs-2" style="color: #32c766;"></i> Hackerrank Indexer</a><button class="navbar-toggler" data-bs-toggle="collapse" data-bs-target="#navcol-2"><span class="visually-hidden">Toggle navigation</span><span class="navbar-toggler-icon"></span></button>
    <div id="navcol-1" class="collapse navbar-collapse">
      <ul class="navbar-nav float-none" style="width: 100%;">
        <li class="nav-item"><a class="nav-link" href="/analytics" style="color: var(--bs-white);">Analytics</a></li>
      </ul>
    </div>
    <div id="navcol-2" class="collapse navbar-collapse">
      <ul class="navbar-nav float-none d-md-flex d-xxl-flex justify-content-md-end" style="width: 100%;">
        <li class="nav-item"><a class="nav-link" href="#" style="color: rgb(255,255,255);"><i class="fa fa-gear"></i> Settings</a></li>
        <li class="nav-item"><a class="nav-link" (click)="logOut()" style="color: rgb(255,255,255);"><i class="fas fa-running"></i> Log Out</a></li>
      </ul>
    </div>
  </div>
</nav>
</body>
