<div id="wrapper page-top">
  <div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
      <div class="container-fluid">
        <h1 id="titel" class="text-center">Submissions</h1>
      </div>
      <h3 id="untertitel" class="text-center">Here you can see all your submissions from .json</h3>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <ng-container *ngFor="let submission of submissions">
      <div (click)="this.navigateToListingDetail(submission)" id="eintrag" class="col-md-12">
        <div class="card">
          <div class="card-header">
            <h4 id="submissionTitel"><strong>{{submission.challenge.challengeName}}</strong><span
              id="idname" class="float-end">{{submission.id}}</span></h4>
          </div>
          <div class="card-body" data-bss-disabled-mobile="true" data-bss-hover-animate="pulse">
            <p class="card-text">Language:&nbsp;<a href="#">{{submission.language.language}}</a></p>
            <p class="card-text">PASSED:
              <ng-container *ngIf="submission.score == 1.0; else notpassed">
                <span id="passed">YES</span>
              </ng-container>
              <ng-template #notpassed>
                <span id="failed">NO</span>
              </ng-template>
              <a href="#"></a></p>
            <i id="download"
               class="fa fa-download d-xl-flex justify-content-xl-end"></i>
          </div>
        </div>
      </div>
    </ng-container>
  </div>
</div>
