#wrapper\ page-top {
  background: #ffffff;
}

#titel {
  color: var(--bs-gray-900);
}

#untertitel {
  color: var(--bs-gray-900);
}

#eintrag {
  padding: 0px;margin: 10px;width: 530px;
}

#eintrag:hover {
  cursor: pointer;
}

#submissionTitel {
  color: rgb(78, 115, 223);
}

#idname {
  color: rgb(180,180,180);
}

#passed {
  color: var(--bs-warning);
}

#failed {
  color: var(--bs-danger);
}

#download {
  font-size: 30px;
}

.entry:hover {
  cursor: pointer;
}

.pagination-link:hover {
  cursor: pointer;
}
//inherits from pagination-link
.pagination-link.active {
  color: black;
  background-color: lightgrey;
}
