<div id=" wrapper page-top" style="background: #ffffff;">
  <div class="d-flex flex-column" id="content-wrapper">
    <div id="content">
      <div class="container-fluid">
        <h1 class="text-center" style="color: var(--bs-gray-900);">Submissions</h1>
      </div>
      <h3 class="text-center" style="color: var(--bs-gray-900);">Here you can see all your submissions from .json</h3>
    </div>
  </div>
</div>
<div class="container">
  <div class="row justify-content-center">
    <ng-container *ngFor="let submission of submissions">
      <div class="col-md-12" style="padding: 0px;margin: 10px;width: 530px;">
        <div class="card">
          <div class="card-header">
            <h4 style="color: rgb(78, 115, 223);"><strong>{{submission.challenge.challengeName}}</strong><span
              class="float-end" style="color: rgb(180,180,180);">{{submission.id}}</span></h4>
          </div>
          <div class="card-body" data-bss-disabled-mobile="true" data-bss-hover-animate="pulse"
               style="max-width: 450px;">
            <p class="card-text">Language:&nbsp;<a href="#">{{submission.language.language}}</a></p>
            <p class="card-text">PASSED:
              <ng-container *ngIf="submission.score < 1.0; else notpassed">
                <span style="color: var(--bs-warning);">YES</span>
              </ng-container>
              <ng-template #notpassed>
                <span style="color: var(--bs-danger);">NO</span>
              </ng-template>
              <a href="#"></a></p>
            <i
              class="fa fa-download d-xl-flex justify-content-xl-end" style="font-size: 30px;"></i>
          </div>
        </div>

      </div>
    </ng-container>
  </div>
</div>
