<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Login Clean</title>
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
  <link rel="stylesheet" href="/assets/fonts/fontawesome-all.min.css">
  <link rel="stylesheet" href="/assets/css/styles.css">
</head>

<body>
<app-navbar-without-login></app-navbar-without-login>
<div class="container">
  <div class="row" style="">
    <div class="col-md-10 col-lg-8 col-xl-6 offset-md-1 offset-lg-2 offset-xl-3">
      <div class="card">
        <div class="card-body"><a
          class="navbar-brand d-flex justify-content-center align-items-center sidebar-brand m-0" href="#">
          <div class="sidebar-brand-icon rotate-n-15"><i class="fab fa-hackerrank" style="font-size: 40px;"></i></div>
          <div class="sidebar-brand-text mx-3"><span>Hackerrank Indexer<br></span></div>
        </a>
          <h5 class="text-center text-dark mb-0">Log in</h5>
          <div class="row text-center" style="margin-top: 15px;">
            <div class="col">
              <input [formControl]="loginEmailForm" type="text" placeholder="Email"></div>
          </div>
          <div class="row text-center" style="margin-top: 15px;">
            <div class="col">
              <input [formControl]="loginPasswordForm" type="password" placeholder="Password"></div>
          </div>
          <div class="row text-center" style="margin-top: 15px;">
            <div class="col">
              <button (click)="logIn()" class="btn btn-primary" type="button">Log In</button>
            </div>
          </div>

          <ng-container *ngIf="this.incorrectPassword">
            <div class="row text-center" style="margin-top: 15px;">
              <div class="col">
                <span class="text-danger">Incorrect Password</span>
              </div>
            </div>
          </ng-container>


          <div class="row text-center" style="margin-top: 15px;">
            <div class="col"><a class="link-secondary forgot" href="#" style="margin-bottom: 5px;">Dont have an account?
              Sign up!</a></div>
          </div>
          <div class="row text-center" style="margin-top: 15px;">
            <div class="col"><a class="link-secondary forgot" href="#" style="margin-bottom: 5px;">Forgot Email or
              Password? Reset</a></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
