<!--<button (click)="generateAndDownloadSubmission()">download file</button>

<div>
  <h2><a href="#" (click)="this.routeToChallenge($event)">{{this.submission.challenge.challengeName}}</a></h2>
  <p>Score: {{this.submission?.score}}</p>
  <span>Language: <a href="#" (click)="this.routeToLanguage($event)">{{this.submission?.language?.language}}</a></span>
  <h4>Code</h4>
  <mat-card>
    <pre>{{this.submissionCode}}</pre>
  </mat-card>
</div>
-->

<!--<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2 class="text-start">%SUBMISSION NAME%</h2>
      <p>%ID%</p>
      <p>SCORE: %SCORE%</p>
      <p>LANGUAGE:&nbsp;<a href="#">%LANGUAGE%</a></p>
      <div class="row">
        <div class="col" style="text-align: right;"><i class="fa fa-download" style="text-align: left;font-size: 32px;"></i></div>
      </div>
      <div class="row">
        <div class="col">
          <div class="accordion" role="tablist" id="accordion-1">
            <div class="accordion-item">
              <h2 class="accordion-header" role="tab"><button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-1" aria-expanded="true" aria-controls="accordion-1 .item-1">Code</button></h2>
              <div class="accordion-collapse collapse show item-1" role="tabpanel" data-bs-parent="#accordion-1">
                <div class="accordion-body">
                  <div class="card bg-light">
                    <div class="card-body"><code class="font-monospace text-nowrap text-black-50" style="color: var(--bs-dark);">Code</code></div>
                  </div>
                  <p class="mb-0"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <h4>MORE SUBMISSIONS FOR %CHALLENGE NAME%</h4>
      <div class="row">
        <div class="col"></div>
      </div>
    </div>
  </div>
</div>-->

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Dashboard - Brand</title>
</head>

<body id="page-top" style="background: #ffffff;">
<div class="container">
  <div class="row">
    <div class="col-md-8">
      <h2 class="text-start">%SUBMISSION NAME%</h2>
      <p>%ID%</p>
      <p>SCORE: %SCORE%</p>
      <p>LANGUAGE:&nbsp;<a href="#">%LANGUAGE%</a></p>
      <div class="row">
        <div class="col" style="text-align: right;"><i class="fa fa-download" style="text-align: left;font-size: 32px;"></i></div>
      </div>
      <div class="row">
        <div class="col">
          <div class="accordion" role="tablist" id="accordion-1">
            <div class="accordion-item">
              <h2 class="accordion-header" role="tab"><button class="accordion-button" data-bs-toggle="collapse" data-bs-target="#accordion-1 .item-1" aria-expanded="true" aria-controls="accordion-1 .item-1">Code</button></h2>
              <div class="accordion-collapse collapse show item-1" role="tabpanel" data-bs-parent="#accordion-1">
                <div class="accordion-body">
                  <div class="card bg-light">
                    <div class="card-body"><code class="font-monospace text-nowrap text-black-50" style="color: var(--bs-dark);">Code</code></div>
                  </div>
                  <p class="mb-0"></p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4">
      <div class="card">
        <div class="card-body" style="background: var(--bs-gray-100);">
          <h4>MORE SUBMISSIONS FOR %CHALLENGE NAME%</h4>
          <div class="row">
            <div class="col"></div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
</body>
