<ng-container *ngIf="!this.loaded; else loadedData">
  <div class="app-splash-screen">

    <div class="app-splash-content">
      <div data-text="Loading ..." class="loading-text">Loading ...
      </div>
    </div>
  </div>
</ng-container>

<ng-template #loadedData>
  <body id="page-top" style="color: rgb(33,33,34);">
  <div id="wrapper">
    <div class="d-flex flex-column" id="content-wrapper">
      <div id="content">
        <h1 class="text-center" style="color: var(--bs-gray-900);">Analytics</h1>
        <h4 class="text-center" style="color: var(--bs-gray-900);">Check out your stats here</h4>
        <div class="container-fluid">
          <header></header>
          <app-generalstatscomponent></app-generalstatscomponent>
          <div class="row">
            <div class="col-lg-7 col-xl-6">
              <div class="card shadow mb-4">
                <div class="card-header d-flex justify-content-between align-items-center">
                  <h6 class="text-primary fw-bold m-0" style="color: rgb(78, 115, 223);">Language usage distribution</h6>
                </div>
                <div id="chartcard" class="card-body">
                  <ngx-charts-pie-chart
                    [scheme]="chartColors"
                    [results]="chartData"
                    [legend]=false
                    [labels]=true
                    [doughnut]=true
                    [legendPosition]="legendPosition"
                  >
                  </ngx-charts-pie-chart>
                </div>
              </div>
            </div>
            <div class="col">
              <div class="card shadow mb-4">
                <div class="card-header py-3">
                  <h6 class="text-primary fw-bold m-0">PASSED SUBMISSIONS PER LANGUAGE</h6>
                </div>
                <div class="card-body">
                  <ng-container>
                    <div *ngFor="let language of this.pLanguages">
                      <h4 class="small fw-bold">{{language.language}}<span class="float-end">{{this.pLanguagePassPercentageMap.get(language.id!)}}%</span></h4>
                      <div class="progress mb-4">
                        <div [attr.id]="language.language.concat('percentageId')"
                             class="progress-bar"><span class="visually-hidden"></span></div>
                      </div>
                    </div>
                  </ng-container>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  </body>
</ng-template>
