<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, shrink-to-fit=no">
  <title>Small Landing page</title>
  <link rel="stylesheet" href="/assets/bootstrap/css/bootstrap.min.css">
</head>

<body style="height: 100vh;background: rgb(0,0,0);">
<p class="font-monospace typing-dem" style="color: var(--bs-gray-100);width: 21.2ch;float: left;"><span style="color: var(--bs-green);">big-brain@hrindexer</span><span style="color: var(--bs-white);">:</span><span style="color: var(--bs-blue);">~</span></p>
<p id="typing" class="font-monospace typing-demo" style="color: var(--bs-gray-100);">hackerrank_indexer --dev</p>
<div></div>
<p class="font-monospace" style="opacity: 0;animation: opacityOn 5s normal forwards;color: var(--bs-gray-100);/*animation-delay: 2s;*/">hackerrank_indexer: found - loading</p>
<p class="font-monospace" style="color: var(--bs-gray-100);opacity: 0;animation: opacityOn 7s normal forwards;">hackerrank_indexer: loading complete - redirecting</p>
<script src="assets/bootstrap/js/bootstrap.min.js"></script>
</body>

</html>
