<div class="row">
  <div class="col-md-12">
    <h1 class="display-6">General Stats</h1>
    <div class="row">
      <div class="col-md-4" style="margin: 5px 0px;">
        <div class="card shadow-sm">
          <div class="card-body" data-bs-toggle="tooltip" title="Takes every submission you make into account.  Useless statistic but leetcode has it too.">
            <h4 class="card-title">Submission Acceptance Rate</h4>
            <h6 class="text-muted card-subtitle mb-2">Passed Submissions in %</h6>
            <p class="card-text"></p>
            <div class="row align-items-center no-gutters">
              <div class="col me-2">
                <div class="text-uppercase text-info fw-bold text-xs mb-1"></div>
              </div>
            </div>
            <div class="row g-0 align-items-center">
              <div class="col-auto">
                <div class="text-dark fw-bold h5 mb-0 me-3">
                  <span>{{generalPercentageObject.percentageSubmissionsPassed}}%</span>
                </div>
              </div>
              <div class="col">
                <div class="progress progress-sm">
                  <div [attr.class]="submissionsPassedClass"
                       [style.width.%]="generalPercentageObject.percentageSubmissionsPassed"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4" style="margin: 5px 0px;">
        <div class="card shadow-sm">
          <div class="card-body" data-bs-toggle="tooltip" title="The percentage of all challenges with at least one passed submission. Useful statistic." style="box-shadow: 0px 0px;">
            <h4 class="card-title">Challenge Acceptance Rate</h4>
            <h6 class="text-muted card-subtitle mb-2">Passed Challenges in %</h6>
            <p class="card-text"></p>
            <div class="row align-items-center no-gutters">
              <div class="col me-2">
                <div class="text-uppercase text-info fw-bold text-xs mb-1"></div>
              </div>
            </div>
            <div class="row g-0 align-items-center">
              <div class="col-auto">
                <div class="text-dark fw-bold h5 mb-0 me-3"><span>{{generalPercentageObject.percentageChallengesSolved}}%</span></div>
              </div>
              <div class="col">
                <div class="progress progress-sm">
                  <div [attr.class]="challengesPassedClass" [style.width.%]="this.generalPercentageObject.percentageChallengesSolved"
                       style="width: 50%;"></div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="col-md-4" style="margin: 5px 0px;">
        <div class="card shadow-sm">
          <div class="card-body" data-bs-toggle="tooltip" title="Your most used language." style="box-shadow: 0px 0px;">
            <h4 class="card-title">Favourite Language</h4>
            <h6 class="text-muted card-subtitle mb-2">Your most used language</h6>
            <p class="card-text"></p>
            <div class="row align-items-center no-gutters">
              <div class="col me-2">
                <div class="text-uppercase text-info fw-bold text-xs mb-1"></div>
              </div>
            </div>
            <div class="row g-0 align-items-center">
              <div class="col-auto">
                <div class="text-dark fw-bold h5 mb-0 me-3"><span>{{generalPercentageObject.favouriteLanguage.language}}</span></div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
